body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e; 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  width: 90%;
  max-width: 350px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); 
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.form-container h2 {
  color: #ff9900;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-container label {
  display: block;
  margin: 10px 0 5px 0;
  color: greenyellow;
  text-align: left;
  font-size: 18px;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.form-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #ff9900;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

/* Stil pentru alertă */
.alert {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 153, 0, 0.9);
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  z-index: 1000;
  width: 90%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}