@import url("https://fonts.googlesapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e; 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container img{
  width: 200px;
}

.container h1{
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}

.container h3{
  margin: 0;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.orange{
  color: #ff9900;
}

.form-container {
  width: 100%;
  text-align: center;
  background: #333;
  padding: 20px;
  border-radius: 20px;
}

.form-container h2 {
  color: #ff9900;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 26px;
}

.form-container label {
  display: block;
  margin: 10px 0 5px 0;
  color: #fff;
  text-align: left;
  font-size: 18px;
  text-shadow: rgba(20,193,103,0.9) 0px 0px 8px;
}

.form-container input[type="text"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  outline: none;
  border: none;
  width: 96%;
  padding: 10px 5px;
  border-radius: 10px;
  background: #1e1e1e;
  color: #fff;
  font-weight: 500;
}

.form-container button {
  padding: 0;
  margin-top: 30px;
  border: none;
  outline: none;
  padding: 10px 2px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background: #ff9900;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stil pentru alertă */
.alert {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 153, 0, 0.9);
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  z-index: 1000;
  width: 90%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.copyright1{
  font-weight: 300;
  font-style: italic;
  color: #ccc;
  margin: 0;
  margin-top: 10px;
}

.copyright2{
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  color: #ccc;
  margin: 0;
  margin-top: 10px;
}

/* @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0cc166, 0 0 40px #0cc166, 0 0 50px #0cc166, 0 0 60px #0cc166, 0 0 70px #0cc166;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #076d3a , 0 0 40px #076d3a, 0 0 50px #076d3a, 0 0 60px #076d3a, 0 0 70px #076d3a, 0 0 80px #076d3a;
  }
} */