@import url("https://fonts.googlesapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e; 
  color: #fff;
  min-height: 100vh;
}

#Title{
  align-items: center;
 text-align: center;
 justify-content: center;
 display: flex;
 padding: 0;
 margin: 0;
}

.container{
  width: 100vw;
}

.section {
  background-color: rgba(0, 0, 0, 0.8); 
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  padding: 30px;
  margin-bottom: 40px;
}
.chat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.chat-item {
  width: 95%;
  margin: 20px auto;
  /* display: flex;
  align-items: center; */
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-box{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.chat-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 1;
}

.chat-info p{
  font-size: 13px;
  font-weight: 500;
}

.message{
  font-size: 16px;
  font-weight: 600;
}

.chat-info h3 {
  margin: 0;
  font-size: 18px;
  color: #ff9900;
  font-weight: 400;
  text-transform: uppercase;
}
.chat-info p {
  font-style: italic;
  font-size: 14px;
  color: greenyellow;
  margin: 5px 0;
}

.chat-status{
  font-style: italic;
  font-weight: 300;
}

.chat-status {
  font-size: 14px;
}
.chat-status.online {
  color: #00ff00;
}
.chat-status.offline {
  color: #ff0000;
}
.alert-message {
  color: #ff0000;
  font-weight: bold;
  margin-top: 5px;
}